################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AsmRefBaseliner
/src/DumpAsmRefs/bin/Debug
/src/DumpAsmRefs/obj
/DumpAsmRefs.Tests/bin/Debug/netcoreapp3.1
/DumpAsmRefs.Tests/obj
