################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AsmRefBaseliner
/src/DumpAsmRefs/bin/Debug
/src/DumpAsmRefs/obj
/tests/DumpAsmRefs.Tests/bin/Debug/
/tests/DumpAsmRefs.Tests/obj
/.sonarqube
/src/DumpAsmRefs/bin/Release
/tests/DumpAsmRefs.MSBuild.Tests/bin/Debug
/tests/DumpAsmRefs.MSBuild.Tests/obj
/tests/DumpAsmRefs.Tests/bin/Release/net461
/tests/DumpAsmRefs.MSBuild.Tests/.vs/CopyBuiltNuGet/v16
/tests/TestResults
